body {
  background: rgb(77,143,228);
  background: linear-gradient(15deg, rgba(77,143,228,1) 25%, rgba(98,215,207,1) 78%);
  height: calc(100vh - 120px);
  margin: 0;
}

.container {
  background-color: #fafafa;
  border-radius: 15px;
  max-width: 500px;
  width: 100%;
  margin: 120px auto;
  box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
  padding: 25px;
}

.container header {
  align-items: center;
  display: flex;
  justify-content: center;

  font-size: 30px;
  font-weight: 600;
}

.container .inputField {
  /* align-items: center; */
  
  display: flex;
  padding: 25px;
  justify-content: center;
  margin: 20px 0;
  height: 45px;

}

.inputField input {
  width: 85%;
  outline: none;
  border-radius: 3px;
  border: 1px solid #ccc;
  font-size: 17px;
  padding-left: 15px;
  transition: all 0.3s ease;
}

input:focus {
  border-color: #62d7cf;
}

.inputField button{
  width: 50px;
  height: 100%;
  border: none;
  color: #fff;
  margin-left: 5px;
  font-size: 21px;
  outline: none;
  background: #129f96;
  cursor: pointer;
  border-radius: 3px;
  /* opacity: 0.6; */
  pointer-events: none;
  transition: all 0.3s ease;
}

.inputField button:hover {
  background: #0d7c75;
}

.todoList {
  max-height: 250px;
  overflow-y: auto;
}


main {
  align-items: center;
  display: flex;
  justify-content: center;
}